<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://assets-global.website-files.com/628202eb7980b612a999fc44/62b3625fb75d80146d5aa97c_favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://assets-global.website-files.com/628202eb7980b612a999fc44/62a225cdc2f15d1a46a9c5e4_Webclip.png" rel="apple-touch-icon">
    <script src="https://kit.fontawesome.com/c62ebd3798.js" crossorigin="anonymous"></script>
    <title>Register | FB Helpdesk</title>
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link rel="stylesheet" href="../../assets/styles/user.css">
    <script src="../../scripts/agent/register.mjs" type="module" defer></script>
</head>
<body>
    <div id="container">
        <div id="page-body">
            <div class="container row justify-center align-item-center">
                <div class="form-box">
                        <h2 class="text-center">Create Account</h2>
                        <form>
                            <div class="form-input">
                                <div class="row justify-start form-label">
                                    Name
                                </div>
                                <input id="fullname" type="text" placeholder="Manoj Kumar" required/> 
                            </div>
                            <div class="form-input">
                                <div class="row justify-start form-label">
                                    Email
                                </div>
                                <input id="email" type="email" placeholder="manoj@richpanel.com" required/> 
                            </div>
                            <div class="form-input">
                                <div class="row justify-start form-label">
                                    Password
                                </div>
                                <input id="pwd" type="password" placeholder="************" required/> 
                            </div>
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me" id="remember_me">
                                <p>Remember me</p>
                            </label>
                            <div class="row justify-center text-center submit-btn" id="register-btn">Sign Up</div>
                        </form>
                        <h3 class="text-center">
                            Already have an account ? 
                            <a href="./login.html">Login</a>
                        </h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>